<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

</head>
<body>

<div class="container" ng-controller="FriendController">

<table class="table">

<tr>
  <td>Friend Name</td>
  <td>Operation</td>
</tr>

<tr ng-repeat="friend in PendingFriendList">
    <td><img src="http://localhost:8077/ChatMiddleware/getImage/{{friend.loginname}}" class="img-circle" width="100" height="100">{{friend.loginname}}</td>
    <td><input type="button" value="UnFriend" ng-click="deleteFriend(friend.friendId)" class="btn btn-danger"/></td>
    <td><input type="button" value="Accept" ng-click="acceptFriend(friend.friendId)" class="btn btn-info"/></td>
</tr>
</table>
</div>
</div>
</body>
</html>