<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>
<div class="container" ng-controller="ChatController">

	<form ng-submit="addMessage()" name="chatMsg">
	<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-9 form-group">
								<label>Message</label>
								<input type="text" placeholder="Enter Chat Text" ng-model="message" class="form-control">
							</div>
							<div class="col-sm-3 form-group">
								<span class="count" ng-bind="max - message.length">140</span>
								<button ng-disabled="message.length>140||message.length==0">Send</button>
							</div>
						</div>
	</div>
	</form>
	
	<div class="col-sm-12">
		<p ng-repeat="message in messages">
			<span><img src="http://localhost:8077/ChatMiddleware/getImage/{{currentUser.loginname}}" width="20" height=20"/>{{message.message}}</span>
		</p>
	</div>
	
</div>
</div>
</body>
</html>
