<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>
<div ng-controller="BlogController">


<table class="table table">
  
   <tr>
      <td>Blog Name</td>
      <td>Blog Content</td>
      <td>Blog Status</td>
   </tr>
   
   <tr ng-repeat="blog in allBlogdata">
   <td ng-show="blog.userDetails.loginname==currentUser.loginname">{{blog.blogName}}</td>
   <td ng-show="blog.userDetails.loginname==currentUser.loginname">{{blog.blogContent}}</td>
   <td ng-show="blog.userDetails.loginname==currentUser.loginname">{{blog.status}}</td>
   <td ng-show="blog.userDetails.loginname==currentUser.loginname">
   <input type="button" value="Delete Blog" ng-click="deleteBlog(blog.blogId)" class="btn btn-info"></td>
   </tr>
</table>
</div>

</body>
</html>